.footer_outer_container {
   background-color: #111;
    align-items: center;
    color: grey;
    justify-content: center;
   display: flex;

}

.footer_inner_container {
     width: 60%;
    color: white;
    justify-content: center;
    align-items: center;
}
.footer_icon{
    width: 12%;
    
    margin-left: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_icon li {
    display: inline;
    

}



.footer_data {
    display: flex;
    
    justify-content: space-between ;
    align-items: flex-start;
    



}

.footer_data  ul li {
    cursor: pointer;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 0%;
    

}
.footer_data  ul  {
    list-style: none; 
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: flex-start;
    /* height: 12vh; */

    

}

.footer_call {
    display: flex;
}

.footer_call li {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    opacity: 0.5;
}

.footer_code  {
   display: flex;
   align-items: center;
   /* justify-content: center; */
   border: #fff 1px solid;
   width: 10%; 
   margin: 10px 0;
   cursor: pointer;
}

.footer_gift ul {
  list-style: none;
  display: inline;
  flex-direction:row ;
  /* justify-content: center; */
}

p{
    color: white;
    /* justify-content: center; */
    opacity: 0.5;
}
li{
    opacity: 0.5;
}

.copyWrite {

}